<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Event Deleted!</p>
    <p>
    You deleted an event on scheduler!
    </p>
  </body>
</html>