<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Event Updated!</p>
    <p>
    New Event details<br>
    --------------------------
    </p>
    <p>Start_Date: <%= @event.start_date %></p>
    <p>End_Date: <%= @event.end_date %></p>
    <p>Text: <%= @event.text %></p>
    <p>
    ----------
    </p>
  </body>
</html>